* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top_box {
  width: 100%;
  background-color: red;
  border: 1px black;
  border-radius: 2px;
  margin: 25px 25px;
  padding: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: white;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.speaker-form {
  position: relative;
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  width: 100%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.field {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.label {
  margin-bottom: 8px;
}

.field-blocker {
  margin-bottom: 16px;
}

.field {
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.submit {
  display: flex;
  position: absolute;
  left: 20px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: red;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.food_box {
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}