* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: black;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.top_box {
  background-color: red;
  padding: 50px;
  margin: 12px;
  border-radius: 3px;
}

.box {
  background-color: red;
  padding: 50px;
  margin: 12px;
  border-radius: 3px;
}

.columns {
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  left: 20px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: red;
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.field {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.label {
  margin-bottom: 8px;
}